<%= form_for(@matter_teacher) do |f| %>
  <% if @matter_teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@matter_teacher.errors.count, "error") %> prohibited this matter_teacher from being saved:</h2>

      <ul>
      <% @matter_teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :matter_id %><br>
    <%= f.collection_select(:matter_id, Matter.order(:name), :id, :name, :prompt => true) %>
  </div>
  
 
   
   
    
  <div class="field">
    <%= f.label :teacher_id %><br>
    <%= f.number_field :teacher_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
