<p id="notice"><%= notice %></p>

<h1>Listing Matter Teachers</h1>

<table>
  <thead>
    <tr>
      <th>Matter</th>
      <th>Teacher</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matter_teachers.each do |matter_teacher| %>
      <tr>
        <td><%= matter_teacher.matter_id %></td>
        <td><%= matter_teacher.teacher_id %></td>
        <td><%= matter_teacher.value %></td>
        <td><%= link_to 'Show', matter_teacher %></td>
        <td><%= link_to 'Edit', edit_matter_teacher_path(matter_teacher) %></td>
        <td><%= link_to 'Destroy', matter_teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Matter teacher', new_matter_teacher_path %>
