<p id="notice"><%= notice %></p>

<p>
  <strong>Matter:</strong>
  <%= @matter_teacher.matter_id %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @matter_teacher.teacher_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @matter_teacher.value %>
</p>

<%= link_to 'Edit', edit_matter_teacher_path(@matter_teacher) %> |
<%= link_to 'Back', matter_teachers_path %>
