<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @user.cpf %>
</p>

<p>
  <strong>Scholarity:</strong>
  <%= @user.scholarity %>
</p>

<p>
  <strong>Fone:</strong>
  <%= @user.fone %>
</p>

<p>
  <strong>Whatsapp:</strong>
  <%= @user.whatsapp %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @user.skype %>
</p>

<p>
  <strong>Addrress:</strong>
  <%= @user.addrress %>
</p>

<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.country %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @user.date_of_birth %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @user.created_at %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
