<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label RailsAdmin.config.model('User').field(:name).label %><br>
    <%= f.text_field :name %>
  </div>
  <div></div>
    <%= f.label RailsAdmin.config.model('User').field(:avatar).label%><br />
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label RailsAdmin.config.model('User').field(:cpf).label %><br>
    <%= f.text_field :cpf %>
  </div>
  <div class="field">
    <%= f.label RailsAdmin.config.model('User').field(:scholarity).label %><br>
    <%= f.text_field :scholarity %>
  </div>
  <div class="field">
    <%= f.label RailsAdmin.config.model('User').field(:fone).label %><br>
    <%= f.text_field :fone %>
  </div>
  <div class="field">
    <%= f.label RailsAdmin.config.model('User').field(:whatsapp).label %><br>
    <%= f.text_field :whatsapp %>
  </div>
  <div class="field">
    <%= f.label RailsAdmin.config.model('User').field(:skype).label %><br>
    <%= f.text_field :skype %>
  </div>
  <div class="field">
    <%= f.label RailsAdmin.config.model('User').field(:addrress).label %><br>
    <%= f.text_field :addrress %>
  </div>
  <div class="field">
    <%= f.label RailsAdmin.config.model('User').field(:state).label %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label RailsAdmin.config.model('User').field(:country).label %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label RailsAdmin.config.model('User').field(:date_of_birth).label %><br>
    <%= f.date_select :date_of_birth %>
  </div>
  <div class="field">
    <%= f.label RailsAdmin.config.model('User').field(:created_at).label %><br>
    <%= f.datetime_select :created_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
