<div class="container"></div>

<div class="container">

<p id="notice"><%= notice %></p>
<div class= "row">
  
  <dic class= "col-md-12">
    <h1><%= @user.name %></h1>
  </dic>
  
  <div class= "col-md-3">
    
    <div class= "panel panel-default">
      <div class="panel-heading">
        <!--<h3 class="panel-title">Foto</h3>-->
      </div>
      <div class="panel-body">
        <div class="container">
         <img class= "avatar" src="<%= @user.avatar %>" class="img-responsive">
        </div>
      </div>
    </div>
    
    <div class= "panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Contatos</h3>
      </div>
      <div class="panel-body">
        <div class="container">
          <d1>
            <p>
              <dt>Telefone:</dt>
              <dd><%= @user.fone %></dd>
            </p>
            <p>
              <dt>Whatsapp:</dt>
              <dd><%= @user.whatsapp %></dd>
            </p>
            <p>
              <dt>Skype:</dt>
              <dd><%= @user.skype %></dd>
            </p>
          </d1>  
        </div>
      </div>
    </div>
    
  </div>
  
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Dados Gerais</h3>
      </div>
      <div class="panel-body">
        <p>
          <dt>Data de Nascimento</dt>
          <dd><%= @user.date_of_birth %></dd>
        </p>
        <p>
          <dt>Cpf:</dt>
          <dd><%= @user.cpf %></dd>
        </p>
        <p>
          <dt>Escolaridade</dt>
          <dd><%= @user.scholarity %></dd>
        </p>
        
        <dt>Endereço</dt>
          <dd>
            <address>
              <%= @user.addrress %><br>
              <%= @user.country %>, <%= @user.state %><br>
            </address>  
        </dd>
      </div>
    </div>
  </div>

</div>
  
<div class="container">  

  <% if (@user.id == current_user.id ) %>
    <%= link_to 'Edit', edit_user_path(@user), class:"btn btn-primary btn-lg active"%> |
  <% end %>  

  <%= link_to 'Back', users_path, class:"btn btn-default btn-lg active" %>

</div>