<div class="modal fade" id="modalEditUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" style="width:90%;" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title text-center" id="modalEditUserLabel">Editar dados do usuário.</h1>
      </div>
      <div class="modal-body">

        <% @user = User.find(current_user.id)%>

        <%= form_for(@user) do |f| %>
              <% if @user.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this contact from being saved:</h2>
            
                  <ul>
                  <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="container">
            	  <div class="row well">
                <p><strong>DADOS DO USUÁRIO</strong></p>
                <hr>
                <div class="col-md-6">
                    <div class="col-md-5 text-center">
                        <%= (image_tag current_user.avatar.url(:thumb), class: 'avatar', id:'avatarspace') %> <br>
                        <br>
                        <div class="form-group">
                            <%= f.file_field :avatar, :id =>'avatarinput' , :style => 'display:none' , :class =>'col-md-1' %>
                        </div>
                        <a class="btn btn-success" id="btn-image" > Alterar Foto</a>
                    </div>
                    <script>
                    function readURL(input) {

                        if (input.files && input.files[0]) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                $('#avatarspace').attr('src', e.target.result);
                                $('#avatarspace').width(160);
                                $('#avatarspace').height(130);
                            }
                            reader.readAsDataURL(input.files[0]);
                        }
                    }
                    
                    $("#avatarinput").change(function(){
                            readURL(this);
                        }
                    );
                    
                    $(document).ready(function(e) {
                            $("#btn-image").click(function(){
                    			$("#avatarinput").trigger('click');
                    		});
                    });
                    </script>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label for="name">Nome:</label>
                            <input type="text" required class="form-control" id="name" name="user[name]" value="<%= current_user.name %>">
                        </div>
                        <div class="form-group">
                            <label for="escolaridade">Escolaridade:</label>
                            <input type="text" required class="form-control" id="scholarity" name="user[scholarity]" value="<%= current_user.scholarity %>">
                        </div>
                        <div class="form-group">
                            <label for="address">Endereço:</label>
                            <input type="text" required class="form-control" id="address" name="user[addrress]" value="<%= current_user.addrress %>">
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="state">Estado:</label>
                                <input type="text" required class="form-control" id="state" name="user[state]" value="<%= current_user.state %>">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="country">País:</label>
                                <input type="text" required class="form-control" id="country" name="user[country]" value="<%= current_user.country %>">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12 well">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <!--Campo data não formata em pt-br.-->
                                    <label for="country">Data de Nascimento:</label>
                                    <input type="date" data-date-format="DD/MM/YYYY" required class="form-control" id="date_of_birth" name="user[date_of_birth]" value="<%= current_user.date_of_birth %>">
                                </div>
                                <div class="form-group">
                                    <label for="cpf">CPF:</label>
                                    <input type="text" required  class="form-control" id="cpf" name="user[cpf]" value="<%= current_user.cpf %>">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fone">Telefone:</label>
                                    <input type="text" required class="form-control" id="fone" name="user[fone]" value="<%= current_user.fone %>">
                                </div>
                                <div class="form-group">
                                    <label for="email">E-mail:</label>
                                    <input type="text" required class="form-control" id="email" name="user[email]" value="<%= current_user.email %>">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 well">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="whatsapp">Whatsapp:</label>
                                    <input type="text" required class="form-control" id="whatsapp" name="user[whatsapp]" value="<%= current_user.whatsapp %>">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="skype">Skype:</label>
                                    <input type="text" required class="form-control" id="skype" name="user[skype]" value="<%= current_user.skype %>">
                                </div>
                            </div>
                        </div> 
                </div>
                <%= hidden_field_tag "user[redirect]", "meuperfil" -%>
                <div class="content text-center">
                      <button type="submit" class="btn btn-success">Atualizar dados.</button>
                </div>
                      
              </div>
            <% end %>

      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        <!--<button type="button" class="btn btn-primary">Salvar</button>-->
      </div>
    </div>
  </div>
</div>