PUBLIC (Without login)

    <div class="col-md-12">
          <h1>Aulas em Destaque</h1>
          <hr>
    </div>
      
      <% @destaques.each do |course| %>
      
        <div class="col-sm-6 col-md-3">
          
          <div class= "thumbnail"  style= " height: 265px;">
            
           <%= link_to (image_tag course.teacher.user.avatar.url(:thumb), 
                     alt: course.teacher.user.name, 
                     class: 'avatar', style: "width: 75x; height: 75px;" ), course_path(course.id) %> <br>
            
            <a href="<%= course_path(course.id) %>" >
              <div class="alert alert-info text-center small">
                  <strong> <%= course.name %> </strong>
                  <div class="small">
                      Prof.ยบ <%= course.teacher.user.name %> <br> 
                      <%= course.teacher.formation %>
                  </div>
              </div>
              
            </a>
            
            <div class="content text-center">
                <strong><%= "R$" '%.2f' % course.value.to_f %> </strong> / hora <br/>
               <form role="form">
                  <div class="form-group">
                    <%= link_to "Agendamento", "#{agendamento_path(course.id)}", class: "btn btn-success", style:"padding: 1px 74px;" %>
                   <!--new_matter_teacher_student_path-->
                  </div>
                </form>
            </div>
            
          </div> <!--div tumbanail-->
          
        </div> <!--div col-->
        
      <%end%>
      
      
      <!--<div class="col-sm-6 col-md-3">-->
        
      <!--</div>-->
      
      <% @courses.each do |course| %>
      <div class="col-sm-6 col-md-2">
        
          <div class"row">
            <div class"well">
                <div class="col-md-6">
                  <div class= "thumbnail">
                     <%= link_to (image_tag course.teacher.user.avatar.url(:thumb), class: 'avatar', size: "50x50"), course_path(course.id) %> <br>
                  </div>
                </div>
                <div class="col-md-6 small">
                    <p> <%= course.name %> </p>
                    <%= "R$" '%.2f' % course.value.to_f %>
                </div>
            </div>
        </div>
          
      </div>
      <% end %>
        
      <div class="col-md-12">
           <hr>          
      </div>