<footer class="footer-distributed">
    
    <div class="container" >
    
        <div class="row">
            
            <div class="col-md-4">
                <ul>
                    <h2>Quem Somos</h2>
                    <li><a href="<%= root_path %>">Home</a></li>
                    <li><a href="<%= root_url%>pages/sobre">Sobre o Reforço.com</a></li>
                    <li><a href="<%= root_url%>pages/termos">Termo de uso</a></li>
                </ul>
            </div>
            
            <div class="col-md-4">
                <ul>
                    <h2>Serviços</h2>
                    <li><a href="<%= teachers_path %>">Buscar Professores</a></li>
                    <li><a href="<%= courses_path %>">Buscar Aulas</a></li>
                    <li><a href="<%= new_teacher_path %>">Seja um Professor</a></li>
                    <li><a href="<%= matters_path %>">Matérias</a></li>
                </ul>
            </div>
            
            <div class="col-md-4">
                <ul>
                    <h2>Ajuda</h2>
                    <li><a href="<%= root_url%>pages/como-funciona">Como Funciona</a></li>
                    <li>
                        <a href="#modalContacts" data-toggle="modal" data-target="#modalContacts">
                            Contato
                        </a>
                    </li>
                </ul>
            </div>
            
            
        </div>
        <br>
        <hr>
        <p class="text-center">© 2015 Reforço WEB. Todos os direitos reservados.</p>
    </div>
    
</footer>