<p id="notice"><%= notice %></p>

<p>
  <strong>Formation:</strong>
  <%= @student.formation %>
</p>

<p>
  <strong>Description:</strong>
  <%= @student.description %>
</p>
<p>
  <strong>User:</strong>
  <%= @student.user.email %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
