<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {multipart: true}) do |f| %>
  <%= devise_error_messages! %>
  
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :senha %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :confirmação_senha %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <div class="field">
    <%= f.label :data_nascimento %><br />
    <%= f.date_field :date_of_birth, autofocus: "on" %>
  </div>
  <div class="field">
    <%= f.label :cpf %><br />
    <%= f.text_field :cpf, autofocus: "on" %>
  </div>
  <div><%= f.check_box :is_female, {}, true %> <%= f.label :is_female, "Female" %> </div>
  <div><%= f.check_box :is_female, {}, false %> <%= f.label :is_female, "Male" %> </div>
  <div class="field">
    <%= f.label :Escolaridade %><br />
    <%= f.text_field :scholarity, autofocus: "on" %>
  </div>  
  <div class="field">
    <%= f.label :Telefone%><br />
    <%= f.text_field :fone, autofocus: "on" %>
  </div>
  <div class="field">
    <%= f.label :Whatsapp %><br />
    <%= f.text_field :whatsapp, autofocus: "on" %>
  </div>
  <div class="field">
    <%= f.label :Skype%><br />
    <%= f.text_field :skype, autofocus: "on" %>
  </div>
  <div class="field">
    <%= f.label :Endereço %><br />
    <%= f.text_field :addrress, autofocus: "on" %>
  </div>
  <div class="field">
    <%= f.label :Estado %><br />
    <%= f.text_field :state, autofocus: "on" %>
  </div>
  <div class="field">
    <%= f.label :pais %><br />
    <%= f.text_field :country, autofocus: "on" %>
  </div>
  <div class="field">
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit "cadastrar" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>