<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
	  			  	<h4> Matéria: <b><%= @matter.name %></b> </h4>
	  			  	<p> Quantidade de aulas relacionadas: <b><%= @courses.count %></b></p>
	  		</div>
  			<div class="panel-body">
  				<div class="container">
  	        		<% @courses.each_with_index do |c, index| %>
  	  			  		Aula: <%= link_to (c.name), c %> 
  	  			  		<p>Prof. <%= link_to (c.teacher.name), c.teacher %> - 
  	  			  	  Valor por Hora: <b><%=  "R$" '%.2f' %c.value.to_f  %></b>   <%= link_to "Agendar aula", "#", class: "btn btn-success" %></p>
  	  			  		<% if @courses.last %> <br> <% end %>
  	  			  	<% end %>
  				</div>
				</div>
			</div>
		</div> <!-- div col-md-9 -->
	<div class="col-md-4">
	  <div class="panel panel-default">
	    <div class="panel-heading">
	  			  	<p><h4> Estatísticas</b> </h4></p>
	  			  	<br>
	  			  	<h5> Matéria: <b><%= @matter.name %></b> </h5>
	  			  	<h5> Área do conhecimento: <b><%= @matter.areaOfKnowledge.name %></b> </h5>
	  			  	<p> Quantidade de aulas: <b><%= @courses.count %></b></p>
	  			  	<p> Quantidade de professores: <b><%= @teachers.count %></b></p>
	  	</div>
	  </div>
	</div>
	
	</div> <!--row2-->
		
</div>  <!--container-->


<!--<p id="notice"><%= notice %></p>-->

<!--<p>-->
<!--  <strong>Name:</strong>-->
<!--  <%= @matter.name %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Descripition:</strong>-->
<!--  <%= @matter.descripition %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Created at:</strong>-->
<!--  <%= @matter.created_at %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Areaofknowledge:</strong>-->
<!--  <%= @matter.areaOfKnowledge.name %>-->
<!--</p>-->

<!--<%= link_to 'Edit', edit_matter_path(@matter) %> |-->
<!--<%= link_to 'Back', matters_path %>-->
