= simple_form_for @teacher, html: { multipart: true } do |f|
	- if @teacher.errors.any?
		#errors
			%p
				= @teacher.errors.count
				Prevented this teacher froms saving
			%ul
				- @teacher.errors.full_messages.each do |msg|
					%li= msg
	.panel-body
		= f.input :formation, input_html: { class: 'form-control' }
		= f.input :description, input_html: { class: 'form-control' }
		
		.row
			.col-md-6
				%h3 Disciplinas
				#courses
					= f.simple_fields_for :courses do |course|
						= render 'course_fields', f: course
					.links
						= link_to_add_association 'Adicione Disciplinas', f, :courses, class: "btn btn-default btn-xs add-button"
	= f.button :submit, class: "btn btn-primary"