<% content_for :header do %>
    <%= javascript_include_tag 'application' %>  
<% end %>

<div class="container">

  <% if !user_signed_in? %>
    
  <% end%>
  
  
  <h2><span class="glyphicon glyphicon-name"></span>Professores</h2>
      <div class = "row">
        <% @teachers.each do |teacher| %>
          <div class="col-sm-6 col-md-3">
            <div class= "thumbnail">
              <%= link_to (image_tag teacher.user.avatar.url(:thumb), class: 'avatar'), teacher %> <br> <!-- thumb -->
              <blockquote>
                <p> <%= teacher.user.name %> </p>
                <footer> <%= teacher.formation %> <br> <cite title="Source Title"><%= teacher.description %></cite></footer>
              </blockquote>
            </div>
            
          </div>
        <%end%>
      </div>
  

</div>