<% content_for :header do %>
    <%= javascript_include_tag 'application' %>
<% end %>


<div class="container">

  <% if !user_signed_in? %>
    
  <% end%>
  
  <div class="row">
      <div class="col-md-12">
          <h1>Professores</h1>
          <hr>
      </div>
      <div class = "row">
        
        <div class="col-md-2">
          
          <p class="text-justify">Encontramos <strong><%= @teachers.count %> professores cadastrados</strong> que atendem seus critérios de pesquisa.</p>
          
          <hr>
          
          <form role="form" method: "GET">
            <div class="form-group">
              <label for="sel1">Área de Conhecimento</label>
              <%= collection_select(:area, :id, @areas, :id, :name,{prompt: "Selecione uma área"}, {class: "form-control"}) %>
            </div>
            <div class="form-group">
              <label for="sel2">Matéria</label>
              <%= collection_select(:materia, :id, @materias, :id, :name,{prompt: "Selecione uma matéria"}, {class: "form-control"}) %>
            </div>
            
            <%= button_to "Filtrar", "", {class: "btn btn-success btn-block" } %>
            <!--<%= button_tag "Checkout", data: { disable_with: "Please wait...", class: "btn btn-success btn-block" } %>-->
          </form>
          
          
        </div>
        
         <div class="col-sm-6 col-md-10">
          <div class="row">
            <% @teachers.each do |teacher| %>
              
              <a href="<%= teacher_path(teacher.id) %>">
                <div class="col-sm-6 col-md-3" style="padding-bottom: 10px;">
                  
                  <div class="row">
                    
                    <div class="col-md-6">
                      <div class= "container">
                        <%= link_to (image_tag teacher.user.avatar.url(:thumb), class: 'avatar', alt: teacher.name, style: "width: 75x; height: 75px;"), teacher %>   
                      </div>
                    </div>
                    
                    <div class="col-md-6 text-center">
                      <div class="row" >
                        <span class="label label-primary"><%= teacher.user.name %></span>
                      </div>
                      
                      <div class="row">
                         <div class="col-md-6">
                             <span class="label label-success">
                                <span class="glyphicon glyphicon-thumbs-up" style="padding: .60em .60em .60em;"></span> 
                                   <span class="badge">
                                     
                                      <%=  @recomendacoes.where("rating = 1 AND enrollment_id IN (?) ",
                                            @matriculas.where("course_id IN (?)",
                                              @cursos.where("teacher_id = ? ",teacher.id).select(:id)
                                                  ).select(:id) 
                                                    ).count %>
                                            
                                            
                                    </span>
                             </span>
                         </div>
                         
                         <div class="col-md-6">   
                           <span class="label label-danger">
                            <span class="glyphicon glyphicon-thumbs-down" style="padding: .60em .60em .60em;"></span> 
                               <span class="badge">
                                   <%=  @recomendacoes.where("rating = 0 AND enrollment_id IN (?) ",
                                            @matriculas.where("course_id IN (?)",
                                              @cursos.where("teacher_id = ? ",teacher.id).select(:id)
                                                  ).select(:id) 
                                                    ).count %>
                               </span>
                         </span>
                         </div>
                         
                      </div>
                      
                    </div>
                    
                  </div>
                </div>
              </a>
              <%end%>
            
            </div>
            
            <hr>
            
          </div>  
            
      </div>
      
      
      
  </div> <!--row-->

</div> <!--container-->