<%= image_tag @teacher.user.avatar.url(:medium) %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Formation:</strong>
  <%= @teacher.formation %>
</p>

<p>
  <strong>Description:</strong>
  <%= @teacher.description %>
</p>
<p>
  <strong>User:</strong>
  <%= @teacher.user.email %>
</p>
<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
