<p id="notice"><%= notice %></p>

<p>
  <strong>Formation:</strong>
  <%= @teacher.formation %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @teacher.created_at %>
</p>

<p>
  <strong>User:</strong>
  <%= @teacher.user%>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
