<% content_for :header do %>
    <%= javascript_include_tag 'application' %>  
<% end %>


<div class="container">
		
		<div class="row">
			
			<div class="col-md-12">
				<h1> <%= @teacher.name %> </h1>
				<hr>
			</div>
			
			<div class="col-md-3">
			<div class="row">
				<div class="panel panel-default">
		            <div class="panel-heading">
		            	<!--<h3 class="panel-title">Foto</h3>-->
					</div>
					<div class="panel-body">
						<div class="container ">
							<%= link_to (image_tag @teacher.user.avatar.url(:medium), class: 'avatar img-thumbnail ', style: "margin-left: 50px; width: 90px; height: 90px;"), "#" %>
						</div>
						<hr>
						<div class="row text-center">
                             <div class="col-md-6">
                                 <span class="label label-success" style="padding: .60em .60em .60em;">
                                    <span class="glyphicon glyphicon-thumbs-up"></span> 
                                       <span class="badge"><%= @positivas %></span>
                                 </span>
                             </div>
                             
                             <div class="col-md-6">   
                               <span class="label label-danger" style="padding: .60em .60em .60em;">
                                <span class="glyphicon glyphicon-thumbs-down"></span> 
                                   <span class="badge"><%= @negativas %></span>
                             </span>
                             </div>
                             
                          </div>
						
					</div>
				</div>
				
				<div class="panel panel-default">
		            <div class="panel-heading">
		            	<h3 class="panel-title"><strong>Contatos</strong></h3>
					</div>
					<div class="panel-body">
						<div class="container">
							<p>e-mail: <%= @teacher.user.email %> </p>
							<p>Telefone: <%= @teacher.user.fone %> </p>
						</div>
					</div>
				</div>
				
			</div> <!--row-->
			</div>
			<div class="col-md-6">
				<div class="panel panel-default" style = "min-height: 356px;">
		                    <div class="panel-heading">
		                        <h3 class="panel-title"><strong>Detalhes</strong></h3>
		                    </div>
		                    <div class="panel-body">
		                        <h3><%= @teacher.formation %></h3>
		                        <p>
		                        </p><div class="price">
		                           <%=  @teacher.university ? @teacher.university : "<<universidade>>" %>
		                        </div><p></p>
		                        <h3>Sobre o professor</h3>
		
		                        <p>
		                            <%= @teacher.description %>
		                        </p> <br>
		                        <div>
		<!--                        <p style='float:left;'><i title='Recomendações Positivas' class='fa fa-thumbs-o-up' ></i> 1</p>
		                            <p style='float:left;'>&nbsp;<i title='Recomendações Negativas' class='fa fa-thumbs-o-down'></i> 0</p>-->
		                            <!--<p align="right"> &nbsp;&nbsp;&nbsp;<i title="Quantidade de aulas dadas" class="fa fa-graduation-cap"></i>-->
		                            <!--    3</p>-->
		                            <br/><br/>
		                        </div>
		                    </div>
		                </div>
				
			</div>
			
			<div class="col-md-3">
				
				<div class="row">
				
				
					<div class="panel panel-default">
						
			            <div class="panel-heading">
			            	<h3 class="panel-title"><strong>Cursos que Leciona</strong></h3>
						</div> <!--panel-heading-->
						
						<div class="panel-body">
							
							<div class="row">
								<ul>
								<% if !@aulas.empty? %>
									<% @aulas.each do |aula| %>
										<div class="col-md-12">
											<li> <%= link_to aula.name, aula %> </li>
										</div>
									<% end %>
								<% else %>
									<div class="col-md-12">
										<li> Nenhuma aula ofertada. </li>
									</div>
								<% end %>
								</ul>
								
						<% if  user_signed_in? %>
							<% if  @teacher.user_id == current_user.id %>
								<div class="content text-center">
									<a href="#modalnewCourse" class="btn btn-success" style="margin-top: 20px;"
										data-toggle="modal" data-target="#modalnewCourse">Novo Curso</a>
								</div>
							<% end %>
						<% end %>
							</div>
						</div>
					</div> <!--panel-->
					
					
					<% if  user_signed_in? %>
					
						<% if  @teacher.user_id == current_user.id %>	
						
							<div class="bs-example">
							    <div class="panel-group" id="accordion">
							        <div class="panel panel-default">
							            <div class="panel-heading">
							                <h3 class="panel-title">
							                	<strong>
							                    	<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Ultimas aulas contratadas</a>
							                    </strong>
							                </h3>
							            </div>
							            <div id="collapseOne" class="panel-collapse collapse">
							                <div class="panel-body">
							                    
							                    <ul>
							                    <% if !@aulas.empty? %>
									                <%	@ultimas_aulas.each do |aula| %>
												      	<li>
												      		 <%= link_to aula.name, aula %>
												      	</li>	
													<% end %>
												<% else %>
													<div class="col-md-12">
														<li> Nenhuma aula contratada. </li>
													</div>
												<% end %>
						                		</ul>	
							                    
							                </div>
							            </div>
							        </div> 
							</div>
						
						<% end %>
					
					<% end %>
						
					</div> <!--row-->
				
			</div>
		
		</div> <!--row 1-->
		
		<div class="row">
			
			<div class="col-md-9">
				<div class="row">
				<div class="panel panel-default" style = "max-width: 863px;">
		            <div class="panel-heading">
		            	<h3 class="panel-title"><strong>Estatisticas</strong></h3>
					</div>
					<div class="panel-body">
						
						
						
						
						<div class="row">
                            <div class="col-sm-4 col-md-4">
                                <div class="text-center">
                                    <h1 class="count">
                                        <%= @minhas_aulas.count %>
                                    </h1>
                                    <p>Aulas Realizadas</p>
                                </div>
                            </div>

                            <div class="col-sm-4 col-md-4">
                                <div class="text-center">
                                    
                                    <h1 class="count">
          	                         	<%= @horas_aulas %>
											
                                    </h1>
                                    <p>Tempo de Aula (HH:MM:SS)</p>
                                </div>
                            </div>

                            <div class="col-sm-4 col-md-4">
                                <div class="text-center">
                                    <h1 class="count">
                                        <%= @porcentagem.to_f %> %
                                    </h1>
                                    <p>Percentual de Avaliações Positivas</p>
                                </div>
                            </div>
                        </div>
						
						
						
						
						
					</div>
				</div>
				
				</div>
			</div>
			
		</div> <!--row2-->
		
</div>  <!--container-->

<% if user_signed_in? %>
	<% if (@teacher.user.id == current_user.id )%>
		<%= render "shared/modals/novo_curso" %>
		<%= render "shared/modals/edit_teacher" %>
	<% end %>
<% end %>