<% content_for :header do %>
  <%= javascript_include_tag 'application' %>  
<% end %>

<div class="container">
    <p id="notice"><%= notice %></p>
    <div class="row">
        <% if user_signed_in? %>
          
            <% if is_teacher(current_user.id) %>
                <div class = "col-md-12">
                    <%= render partial: "courses/home/teacher" %> 
                </div> <!--col-md-12--> 
            <% else %>
                <% if is_student(current_user.id) %>
                    <div class = "col-md-12">
                        <%= render partial: "courses/home/student" %>
                    </div> <!--col-md-12-->
                <% end %>  <!--if student-->
            <% end %> <!--if teacher-->
            
             <div class = "col-md-12">
                  <%= render partial: "courses/home/all_users" %>
             </div> <!--col-md-12-->
           
        <% end %> <!--if user_signed_in-->
        
        <div class = "col-md-12">
            <%= render partial: "courses/home/public" %>
        </div> <!--col-md-12-->
        
    </div> <!--row-->
    
</div> <!--container-->