<!DOCTYPE html>
<html>
<head>
<title>Reforço</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

</head>

<body>
    <div id="page">
        <%= render 'shared/navbar' %>
        <div class = "content">
            <% flash.each do |name, msg| %>
                <%= content_tag(:div, msg, class: "alert alert-info") %>
            <% end %>
            
            <%= yield %>
            
            
            <!--<div class="container">-->
            <!--  <div class="row">-->
            <!--    <div class="col-md-4">-->
            <!--      <h2>Professor</h2>-->
            <!--      <p>Se você é um professor, cadastre-se e comece a receber propostas de todo o mundo. A nossa base conta com milhões de alunos de todo o mundo em busca de profissionais como você.</p>-->
            <!--      <p><a class="btn btn-default" href="teachers" role="button">Comece agora &raquo;</a></p>-->
            <!--    </div>-->
            <!--    <div class="col-md-4">-->
            <!--      <h2>Aluno</h2>-->
            <!--      <p>Em busca de orientações diversificadas de profissionais de todo o mundo, que possam lhe atender de forma exclusiva? Encontre sua melhor opção hoje mesmo </p>-->
            <!--      <p><a class="btn btn-default" href="matter_teachers" role="button">Encontre seu professor &raquo;</a></p>-->
            <!--   </div>-->
            <!--    <div class="col-md-4">-->
            <!--      <h2>Conheça-nos</h2>-->
            <!--      <p>O portal Reforço, busca ligar pessoas professores e alunos que buscam independẽncia e flexibilidade no aprendizado. As aulas de reforço permite um atendimento exclusivo que faz toda a adiferença na sua carreira.</p>-->
            <!--      <p><a class="btn btn-default" href="#" role="button">Saiba mais &raquo;</a></p>-->
            <!--    </div>-->
                
            <!--  </div>-->
            
        </div>
        <%= render 'shared/footer' %>
    </div>
</body>
</html>
