<p id="notice"><%= notice %></p>

<p>
  <strong>Matter:</strong>
  <%= @matter_teacher_student.matter_id %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @matter_teacher_student.teacher_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @matter_teacher_student.student_id %>
</p>

<p>
  <strong>Many:</strong>
  <%= @matter_teacher_student.many %>
</p>

<%= link_to 'Edit', edit_matter_teacher_student_path(@matter_teacher_student) %> |
<%= link_to 'Back', matter_teacher_students_path %>
